
# The host you are deploying to
DEPLOY_HOST=bumble.yourhost.net

# The port that ssh is listening on
DEPLOY_PORT=22

# The remote username
DEPLOY_USER=ted

# The remote directory to deploy into
DEPLOY_DIR=/home/www/bumble.yourhost.net
