doctype html
html
  head
    title="bumble666 remix"
    link(rel="stylesheet", href="/bumble.css")
    script(src='/bumble_remix.js')
  body
    canvas(id='bk')
    a(href='/v' id='other_version')
      |bumble classic
