html
  head
    title=bumble666
    link(href="https://fonts.googleapis.com/css?family=Montserrat", rel="stylesheet")
    script(src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.16.4/lodash.min.js')
    link(rel="stylesheet", href="/splash.css")
    script(src="https://code.jquery.com/jquery-3.1.1.min.js",
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=",
      crossorigin="anonymous")
    script(src='/check_webgpu.js')
    script(src='/splash.js')
  body
    h1(id='intro', class='container')
      a(id='bumble_link' href='/v')
        |bumble
