body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(50,0,0);
}

a {
  text-decoration: none;
  color: white;
  -webkit-text-stroke: red 2px;
}

#intro {
  font-size: 8em;
}
.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-150%);
}
